<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contract Monthly Claims System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CMCS_POE_ST10152431_PROG6212_Part1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div style="background-color: #1F4478; font-family: 'Times New Roman' , Times, serif">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:#D5D6D8">Contract Monthly Claims System</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color:#D5D6D8; font-family: 'Times New Roman' , Times, serif">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="LogInUser" style="color:#D5D6D8; font-family: 'Times New Roman' , Times, serif">Log-In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="SubmitClaims" style="color:#D5D6D8; font-family: 'Times New Roman' , Times, serif">Submit Claims</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="VerifyClaims" style="color:#D5D6D8; font-family: 'Times New Roman' , Times, serif">Verify Claims</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy" style="color:#D5D6D8; font-family: 'Times New Roman' , Times, serif">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color: dimgrey">
            &copy; 2024 - CMCS_POE_ST10152431_PROG6212_Part1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">More About Monthly Claims</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
