@{
    ViewData["Title"] = "Home Page";
}


<body>
    <link rel="stylesheet" href="~/StyleSheet.css" />

    <h1>Welcome To The Claims System</h1>

    <div id="indexImage1"><img src="~/images/robyn-budlender-3jRGSA2IH0c-unsplash.jpg" width="389px" height="439px" /></div>
    <div id="indexImage2"><img src="~/images/museums-victoria-n1LIveUPls4-unsplash.jpg" width="389px" height="439px" /></div>
    <div id="indexImage3"><img src="~/images/erik-mclean-FoB-ImUjLqE-unsplash.jpg" width="389px" height="439px" /></div>

    <div id="indexIntro1">
        The Contract Monthly Claim System (CMCS) is a state-of-the-art .NET-based web application designed to revolutionize the way Independent
        Contractor (IC) lecturers submit and manage their monthly claims. Developed with a focus on enhancing efficiency and accuracy, CMCS provides a comprehensive
        solution that simplifies the traditionally complex process of claim submission and approval. Leveraging the power of C# .NET Core, this platform offers an
        intuitive, user-centric interface that guides lecturers through every step of the claim process, from entering hours worked to calculating corresponding
        hourly rates. At the heart of CMCS is a commitment to improving administrative workflows and reducing errors. The system integrates advanced features
        that go beyond basic claim submissions, allowing users to upload essential supporting documents seamlessly and ensuring that all claims undergo
        thorough scrutiny by both Programme Coordinators and Academic Managers. This dual-layered verification process emphasizes the importance of accuracy
        and accountability, safeguarding the integrity of the claim process. CMCS is more than just a tool—it's a transformative platform that empowers both
        lecturers and administrators. By automating repetitive tasks and providing an easy-to-navigate interface, the system frees up valuable time, enabling users
        to focus on more strategic initiatives that drive organizational success. The platform also offers continuous opportunities for growth, as users progressively
        delve into different aspects of .NET GUI development, mastering industry best practices and methodologies through hands-on experience. Designed with
        future-proofing in mind, CMCS stands as a testament to innovation in administrative processes. It represents the future of streamlined claim management,
        where efficiency, accuracy, and user satisfaction converge to create a system that not only meets but exceeds the expectations of modern educational
        institutions. Whether you're a lecturer submitting claims or an administrator managing approvals, CMCS is your partner in enhancing productivity, reducing
        errors, and achieving excellence in every aspect of the claim process.
    </div>

</body>
