@page
@model CMCS_POE_ST10152431_PROG6212_Part1.Views.Home.LogInUserModel
@{
}

<body>
    <link rel="stylesheet" href="~/StyleSheet.css" />

    <h1 id="h1"> Let's Log You In </h1>

    <div style="align-content:center; margin-top:10px; margin-bottom:10px">
        To submit or verify any claims on our platform, you must first log in. This ensures that your information remains secure
        and private, accessible only to designated personnel who are authorized to review and process your claims. Logging in not only protects your sensitive
        data but also allows us to verify your identity, ensuring that all actions taken within the system are legitimate. It is crucial to log in to maintain
        the integrity of your submissions and to guarantee that your claims are handled with the utmost confidentiality and accuracy.
    </div>

    <div id="loginRegister" style="margin-bottom:70px;">
        <h2 style="text-align:center">Lets Start Slow...</h2>
        <p style="text-align:center; font-size:12px; margin-bottom:20px">Hello and welcome, please fill in details and we will get back to you shortly</p>
        <form>
            <div style="padding:5px">

            <div style="margin-bottom:15px">
                <p>If this is your very first time with us please attach your CV...if you have worked here before tik the box</p>
                <input type="file" name="Resume" placeholder="Curriculum Vitae" required>
                <input type="checkbox" name="PreviousWork">
            </div>

            <div style="margin-bottom:15px">
                <p>Very important information</p>
                <input type="text" name="Name" placeholder="Name">
                <input type="text" name="Surname" placeholder="Surname" required>
                <input type="number" name="Age" placeholder="Age">
                <input type="email" name="Email" placeholder="E-mail" required>
                <input type="tel" name="Cellphone" placeholder="Cell-Phone">
                <input type="text" name="IDNumber" placeholder="ID Number" required>
                <input type="password" name="Password" placeholder="Password" required>
            </div>

            <div style="margin-bottom:15px">
                <p>Enter the date on which you are planning to start work</p>
                <input type="date" name="StartDate">
                <label>Full Time</label>
                <input id="department" type="radio" name="department">
                <label>Hybrid</label>
                <input id="department" type="radio" name="department">
                <label>Remote</label>
                <input id="department" type="radio" name="department">
            </div>

            <div style="margin-bottom:15px">
                <button type="submit">SUBMIT</button>
            </div>

            </div>
        </form>
    </div>

    <div id="loginEmployee">
        <h2 style="text-align:center">You Already Know !</h2>
        <p style="text-align:center; font-size:12px; margin-bottom:20px">If you already registered an account with us just enter your surname and password to continue</p>
        <form>
            <div style="padding:5px">

            <div style="margin-bottom:15px">
                <input type="text" name="Surname" placeholder="Surname" required>
                <input type="password" name="Password" placeholder="Password" required>
            </div>

            <div style="margin-bottom:15px">
                <button type="submit">SUBMIT</button>
            </div>

            </div>
        </form>
    </div>

</body>
