@page
@model CMCS_POE_ST10152431_PROG6212_Part1.Views.Home.LogInUserModel
@{
}

<body>
    <link rel="stylesheet" href="~/StyleSheet.css" />

    <h1 id="h1"> Let's Log You In </h1>

    <div style="align-content:center; margin-top:10px; margin-bottom:10px">To submit or verify any claims on our platform, you must first log in. This ensures that your information remains secure 
        and private, accessible only to designated personnel who are authorized to review and process your claims. Logging in not only protects your sensitive 
        data but also allows us to verify your identity, ensuring that all actions taken within the system are legitimate. It is crucial to log in to maintain 
        the integrity of your submissions and to guarantee that your claims are handled with the utmost confidentiality and accuracy.</div>

    <div id="loginRegister">
        <h2 style="text-align:center">Lets Start Slow...</h2>

    </div>

    <div id="loginEmployee">
        <h2 style="text-align:center">You Already Know !</h2>

    </div>

</body>
