@{
    ViewData["Title"] = "Privacy Policy";
}

<body>
    <link rel="stylesheet" href="~/StyleSheet.css" />

    <h1 id="h4">Additional Info and Privacy Policy</h1>

    <div style="align-content:center; margin-top:10px; margin-bottom:10px">
        To submit or verify any claims on our platform, you must first log in. This ensures that your information remains secure
        and private, accessible only to designated personnel who are authorized to review and process your claims. Logging in not only protects your sensitive
        data but also allows us to verify your identity, ensuring that all actions taken within the system are legitimate. It is crucial to log in to maintain
        the integrity of your submissions and to guarantee that your claims are handled with the utmost confidentiality and accuracy.
    </div>
    <div>
        <img src="~/images/nationaal-archief-NHkGm63o6bE-unsplash.jpg" width="480px" height="550px">
        <img src="~/images/erik-mclean-xaWCjNBEu5w-unsplash.jpg" width="480px" height="550px">
    </div>
</body>
